<md-card class="login">
    <div ng-cloak="" class="inputdemoIcons">
        <h2>Sign in</h2>
        <form>
            <md-input-container class="md-block">
                <md-icon class="material-icons">
                    person
                </md-icon>
                <input ng-model="email" type="email" name="email" placeholder="Email (required)" required>
                <div ng-messages="email.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label>Password</label>
                <md-icon class="material-icons">
                    vpn_key
                </md-icon>
                <input ng-model="password" name="password" type="password" required>
                <div ng-messages="password.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <!-- if no flat try md-no-float="" -->
            <div layout="row">
                <md-button flex ng-href="{{googleUrl}}" target="_blank">
                    <md-icon class="material-icons">
                        clear
                    </md-icon>
                    Cancel
                </md-button>
                <md-button flex type="submit" ng-click="signin()" ng-href="{{googleUrl}}" target="_blank">
                    <md-icon class="material-icons">
                        done
                    </md-icon>Sign in
                </md-button>
            </div>
        </form>

    </div>
</md-card>