<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Side Panel" ng-click="openSideNavPanel()">
            <md-icon class="md-default-theme" class="material-icons">&#xE5D2;</md-icon>
        </md-button>
        {{artlist_title}}
        <span flex></span>
        <md-button class="md-icon-button" aria-label="More">
            <md-icon class="material-icons">
                message
            </md-icon>
        </md-button>
    </div>
</md-toolbar>

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideNavPanel()">
                <md-icon class="md-default-theme" class="material-icons">&#xE5CD;</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-padding="">
        <md-list>
            <md-list-item ng-href="#!/current" ng-click="closeSideNavPanel()" ng-show="artlist">
                <md-icon class="md-default-theme" class="material-icons">stay_current_landscape</md-icon>
                <p>CURRENT</p>
            </md-list-item>
            <md-list-item ng-href="#!/held" ng-click="closeSideNavPanel()" ng-show="artlist">
                <md-icon class="md-default-theme" class="material-icons">rotate_right</md-icon>
                <p> HELD</p>
            </md-list-item>
            <md-list-item ng-href="#!/prep" ng-click="closeSideNavPanel()" ng-show="artlist">
                <md-icon class="md-default-theme" class="material-icons">rotate_left</md-icon>
                <p>PREP</p>
            </md-list-item>
            <md-list-item ng-click="closeSideNavPanel()">
                <md-icon class="md-default-theme" class="material-icons">check</md-icon>
                <p>Assigned</p>
            </md-list-item>
            <md-list-item ng-click="closeSideNavPanel()">
                <md-icon class="md-default-theme" class="material-icons">error_outline</md-icon>
                <p>Unassigned</p>

            </md-list-item>
            <!--<md-list-item ng-href="#!/csr" ng-click="closeSideNavPanel()">
                <md-icon class="md-default-theme" class="material-icons">people</md-icon>
                <p>CSR</p>
            </md-list-item>-->
            <md-divider></md-divider>

            <md-list-item ng-click="closeSideNavPanel()">
                <md-icon class="md-default-theme" class="material-icons">help</md-icon>
                <p>Help</p>

            </md-list-item>
            <md-list-item ng-click="logout()">
                <md-icon class="md-default-theme" class="material-icons">highlight_off</md-icon>
                <p>Logout</p>

            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>