<div ng-cloak>
    <md-content ng-show="csrItem">
        <div class="a_body ">
            <md-list-item layout="row" class="md-accordion-item-body">
                <div flex="20">
                    <md-select ng-model="drpSearch" md-select-on-focus ng-change="search()" aria-label="More">
                        <md-option value="customer" selected>Customer Id</md-option>
                        <md-option value="art">Art ID</md-option>
                        <md-option value="product">Product</md-option>
                    </md-select>
                </div>
                <div flex="20">
                    <md-input-container class="md-block drp">
                        <label>Type to search:</label>
                        <input ng-model="typeSearch" id="backgound" focus="selectChanged">
                    </md-input-container>
                </div>
                <div flex="10">
                    <md-button style="background-color: rgb(30, 144, 255);" ng-click="go()" class="md-raised md-primary">
                        Go
                    </md-button>
                </div>
                <div flex="15">
                    <p>View: My Requests</p>
                </div>
                <div flex="15">
                    <p>Order by: Job Id</p>
                </div>
                <div class="n_req" flex="20">
                    New Art request
                    <md-button style="background-color: rgb(30, 144, 255);" class="md-icon-button md-fab  md-mini " ng-click="OpenCsrForm()" aria-label="More">
                        <md-icon class="material-icons">
                            add
                        </md-icon>
                    </md-button>
                </div>

            </md-list-item>
        </div>

        <div class="md-accordion" ng-repeat="item  in request_items">
            <md-list ng-init="item.expanded = false" ng-click="collapseAll_home(item, $index)">
                <md-accordion-item>
                    <md-list-item layout="row" class="md-accordion-item-header" id="head">
                        <div flex="15">
                            <p>Job Id:{{item.id}}</p>
                        </div>
                        <div flex="15">
                            <p>{{item.customerName}}</p>
                        </div>
                        <div flex="20">
                            <p>{{item.status}}</p>
                        </div>
                        <div flex="20">
                            <p>artist: {{item.artist}}</p>
                        </div>
                        <div flex="25">
                            <p>Requested Date: {{item.ship_date| date:'MM/dd/yyyy'}}</p>
                        </div>

                        <div flex="5">
                            <a ng-click="edit(item)">
                                <md-icon class="material-icons">
                                    mode_edit
                                </md-icon>
                            </a>
                            <a ng-click="view(item)">
                                <md-icon class="material-icons">
                                    visibility
                                </md-icon>
                            </a>
                        </div>
                    </md-list-item>
                </md-accordion-item>
            </md-list>
            <md-list ng-class="{dataContent:true, activeContent:item.expanded}">
                <div class="a_body progress-container" layout="row">
                    <ul class="progressbar">
                        <li class="active">Submitted</li>
                        <li>In Progress</li>
                        <li>Artist Finished</li>
                        <li>Pendding Approval</li>
                        <li>Art Approved</li>
                    </ul>
                </div>
            </md-list>
        </div>
    </md-content>

    <md-content ng-show="csrNew">
        <form ng-submit='InsertCustomer(sales_rep)'>
            <div class="a_body">
                <div layout="row" layout-align="space-between none">
                    <md-input-container class="md-block" flex="25">
                        <label>Customer #:</label>
                        <input ng-model="sage_id" name="description" ng-keypress="Search_Customer(sage_id)" ng-blur="Search_Customer(sage_id)" ng-disabled="sage_id_dis">
                        <md-icon class="material-icons hoverPoinert">
                            search
                        </md-icon>
                    </md-input-container>
                    <md-input-container class="md-block set-margin" flex="25">
                        <md-autocomplete flex="" required md-input-name="autocompleteField" md-input-minlength="2" md-input-maxlength="18" md-no-cache="noCache" md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)" md-selected-item-change="selectedItemChange(item)"
                            md-search-text-change="customerTextChange(item)" md-item-text="item.display" md-require-match="" md-floating-label="Casino name:">
                            <md-item-template>
                                <span md-highlight-text="searchText">{{item.display}}</span>
                            </md-item-template>
                        </md-autocomplete>
                    </md-input-container>

                    <md-input-container class="md-block" flex="25">
                        <label>Sales Rep:</label>
                        <md-select ng-model="sales_rep" focus="gotoSales" ng-model-options="{trackBy: '$value.id'}" aria-label="More">
                            <md-option ng:repeat="(key,sal) in sales" ng-value="sal">
                                {{sal.name}}
                            </md-option>
                        </md-select>

                    </md-input-container>
                </div>
                <div loader-css="loader-inner ball-pulse"></div>
                <div layout="row" layout-align="space-between none">
                    <md-input-container class="md-block" flex="25">
                        <label>Email</label>
                        <input ng-model="email" type="email" ng-disabled="disable_customer">
                    </md-input-container>
                    <md-input-container class="md-block" flex="25">
                        <label>Contact Name</label>
                        <input ng-model="contact_name" ng-disabled="disable_customer">
                    </md-input-container>
                    <md-input-container class="md-block" flex="25">
                        <label>Phone</label>
                        <input ng-model="phone" id="phone" ng-disabled="disable_customer">
                    </md-input-container>
                </div>
                <div layout="row" layout-align="space-between none">
                    <md-input-container class="md-block" flex="25">
                        <label>Address</label>
                        <input ng-model="address" ng-disabled="disable_customer">
                    </md-input-container>
                    <md-input-container class="md-block" flex="25">
                        <label>Address2</label>
                        <input ng-model="address2" ng-disabled="disable_customer">
                    </md-input-container>
                    <md-input-container class="md-block" flex="25">
                        <label>State</label>
                        <input ng-model="state" ng-disabled="disable_customer">
                    </md-input-container>
                </div>
                <div layout="row" layout-align="space-between none">
                    <md-input-container class="md-block" flex="25">
                        <label>Postal Code</label>
                        <input ng-model="postCode" ng-disabled="disable_customer">
                    </md-input-container>
                    <md-input-container class="md-block" flex="25">
                    </md-input-container>
                    <md-input-container class="md-block" flex="25">
                    </md-input-container>
                </div>
            </div>
            <div class="a_body " layout="row" layout-align="end end">
                <md-button ng-click="csrCancelNew()" style="background-color: rgba(214, 7, 7, 0.86);" class="md-icon-button md-fab  md-mini ">
                    <md-icon class="material-icons">
                        clear
                    </md-icon>
                </md-button>

                <md-button type="Submit" style="background-color: rgba(26, 162, 1, 0.93);" class="md-icon-button md-fab  md-mini ">
                    <md-icon class="material-icons">
                        done
                    </md-icon>
                </md-button>
            </div>
        </form>
    </md-content>

    <md-content ng-show="csrConfirm" style="display: inline;">
        <div>
            <md-card class="marginBtm">
                <div layout="row">
                    <md-list-item flex="35">
                        <label>Customer #:{{sage_id}}</label>
                    </md-list-item>
                    <md-list-item flex="35">
                        <lable>Casino:{{Casino}}</lable>
                    </md-list-item>
                    <md-list-item flex="30">
                        <label>Sales Rep:{{sales_rep_name}}</label>
                    </md-list-item>
                </div>
                <div layout="row">
                    <md-list-item flex="35" flex="row">
                        <label>Art Requested Date #:</label>
                        <md-datepicker ng-model="artDate" md-open-on-focus></md-datepicker>
                    </md-list-item>
                    <md-list-item flex="35" flex="row">
                        <lable>Shipment Date #:</lable>
                        <md-datepicker ng-model="shipDate" md-open-on-focus></md-datepicker>
                    </md-list-item>
                    <md-list-item flex="30">
                        <label>Attachements:</label>
                    </md-list-item>
                </div>
            </md-card>

            <md-list class="md-accordion">
                <md-accordion-item>
                    <md-input-container layout="row" class="md-accordion-item-header removeMarg" id="head">
                        <div flex="20">
                            <md-input-container>
                                <label>Product:</label>
                                <md-select ng-model="product" ng-change="CreateArtReuest()" aria-label="More">
                                    <md-option ng-repeat="prod in products" ng-value="prod.id">
                                        {{prod.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex="15">
                            <md-input-container>
                                <label>Design:</label>
                                <md-select ng-model="Design" ng-change="design()" ng-show="product || Design ? true : false" aria-label="More">
                                    <md-option ng-repeat="des in designs" ng-value="des.id">
                                        {{des.name}}
                                    </md-option>
                                </md-select>

                            </md-input-container>
                        </div>
                        <div flex="25">
                            <md-input-container>
                                <label>Card Stock:</label>
                                <md-select ng-model="stock" ng-change="stockchange()" ng-show="stock || Design ? true : false" aria-label="More">
                                    <md-option ng-repeat="stock in card_stock_types" ng-value="stock.id">
                                        {{stock.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex="25">
                            <md-input-container>
                                <label>Card Type:</label>
                                <md-select ng-model="card" ng-change="check(item)" ng-show="card || stock ? true : false" aria-label="More">
                                    <md-option ng-repeat="card in card_types" ng-value="card.id">
                                        {{card.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex="10">
                            <a ng-click="addSpecificatnio(item)" ng-show="card ? true : false">
                                <p>Add Specification</p>
                            </a>
                        </div>
                        <div flex="5">
                            <md-button ng-click="copy_all_accordian()">
                                <md-icon class="material-icons">
                                    my_library_books
                                </md-icon>
                            </md-button>

                        </div>
                        <div flex="10">
                            <md-button ng-click="delete_Allaccordian()">
                                <md-icon class="material-icons">
                                    delete
                                </md-icon>
                            </md-button>
                        </div>
                    </md-input-container>
                </md-accordion-item>

                <div ng-show="csrConfirm" ng:repeat="(key, item) in items track by $index">
                    <md-list class="md-accordion">
                        <div ng-click="collapseAll(item)">
                            <md-list-item layout="row" ng-click="add_acordin(item,$index)" class="md-accordion-item-header" ng-value="{{item.id}}" ng-init="item.expanded = true">
                                <div flex="80">
                                    <p>
                                        <!-- <span>{{item.side   ? '' : 'nothing has been selected.'}}</span>-->
                                        <span>{{item.side.name}} </span>
                                        <span>{{item.style.name || item.backstyle.name ? ' - ' : ''}}{{item.side.name=='Face'? item.style.name :  item.backstyle.name}} </span>
                                        <span>{{item.ace.name ? '-' : ''}} {{item.ace.name ? item.ace.name : ''}} </span>
                                        <span>{{item.edge.name ? '-' : ''}}{{item.edge.name ? item.edge.name : '' }}</span>
                                        <span>{{item.faceColor.name ? '-' : ''}} {{item.faceColor.name ? item.faceColor.name :''}}</span>
                                        <span>{{item.backColor.name ? '-' : ''}}{{item.backColor.name ? item.backColor.name : ''}} </span>
                                        <span>{{item.joker.name ? '-' : ''}}{{item.joker.name ? item.joker.name : ''}}</span>
                                        <span>{{item.tuck.name ? '-' : ''}}{{item.tuck.name ? item.tuck.name : ''}}</span>
                                    </p>
                                </div>
                                <div flex="20">
                                    <p>Art ID:{{item.id}}</p>
                                </div>
                                <div flex="20">
                                    <md-button ng-click="copy_accordian(item)">
                                        <md-icon class="material-icons">
                                            my_library_books
                                        </md-icon>
                                    </md-button>
                                    <md-button ng-click="delete_accordian($index)">
                                        <md-icon class="material-icons">
                                            delete
                                        </md-icon>
                                    </md-button>
                                </div>
                            </md-list-item>
                        </div>
                        <div class="a_body" ng-class="{dataContent:true, activeContent:item.expanded}">
                            <md-list-item layout-gt-sm="row" class="">
                                <div class="md-block" flex-gt-sm>
                                    <md-input-container>
                                        <label>Side:</label>
                                        <md-select ng-model="item.side" ng-change="sideData(item.side.id,$index)" ng-disabled="sideDisable" ng-model-options="{trackBy: '$value.id'}" aria-label="More">
                                            <md-option ng-value="user" ng:repeat="(key,user) in side">{{user.name}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <!-- <div class="md-block" flex-gt-sm ng-show="item.faceShow">-->
                                <div class="md-block" flex-gt-sm ng-show="item.side.name=='Face' ? true : false">
                                    <md-input-container>
                                        <label>Face Style:</label>
                                        <md-select ng-model="item.style" ng-model-options="{trackBy: '$value.id'}" aria-label="More">
                                            <md-option ng-value="user" ng:repeat="user in styles">{{user.name}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <!--<div class="md-block" flex-gt-sm ng-show="item.aceShow">-->
                                <div class="md-block" flex-gt-sm ng-show="item.side.name=='Face' ? true : false">
                                    <md-input-container>
                                        <label>Ace:</label>
                                        <md-select ng-model="item.ace" ng-model-options="{trackBy: '$value.id'}" aria-label="More">
                                            <md-option ng-repeat="ac in aces" ng-value="ac">
                                                {{ac.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <!-- <div class="md-block" flex-gt-sm ng-show="item.faceColorShow">-->
                                <div class="md-block" flex-gt-sm ng-show="item.side.name=='Face' ? true : false">
                                    <md-input-container>
                                        <label>Face Color:</label>
                                        <md-select ng-model="item.faceColor" ng-model-options="{trackBy: '$value.id'}" aria-label="More">
                                            <md-option ng-repeat="color in faceColor" ng-value="color">
                                                {{color.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <!--<div class="md-block" flex-gt-sm ng-show="item.jokerShow">-->
                                <div class="md-block" flex-gt-sm ng-show="item.side.name=='Face' ? true : false">
                                    <md-input-container>
                                        <label>Joker:</label>
                                        <md-select ng-model="item.joker" ng-model-options="{trackBy: '$value.id'}" aria-label="More">
                                            <md-option ng-repeat="joc in jokers" ng-value="joc">
                                                {{joc.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <!--<div class="md-block" flex-gt-sm ng-show="item.backShow">-->
                                <div class="md-block" flex-gt-sm ng-show="item.side.name=='Back' ? true : false">
                                    <md-input-container>
                                        <label>Back Style:</label>
                                        <md-select ng-model="item.backstyle" ng-model-options="{trackBy: '$value.id'}" aria-label="More">
                                            <md-option ng-value="user" ng:repeat="user in back_styles">{{user.name}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <!--<div class="md-block" flex-gt-sm ng-show="item.edgeShow">-->
                                <div class="md-block" flex-gt-sm ng-show="item.side.name=='Back' ? true : false">
                                    <md-input-container>
                                        <label>Edge:</label>
                                        <md-select ng-model="item.edge" ng-model-options="{trackBy: '$value.id'}" aria-label="More">
                                            <md-option ng-repeat="ed in edges" ng-value="ed">
                                                {{ed.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>

                                <!--<div class="md-block" flex-gt-sm ng-show="item.backColorShow">-->
                                <div class="md-block" flex-gt-sm ng-show="item.side.name=='Back' ? true : false">
                                    <md-input-container>
                                        <label>Back Color:</label>
                                        <md-select ng-model="item.backColor" ng-model-options="{trackBy: '$value.id'}" aria-label="More" ng-change="gettuck(item.backColor,$index)">
                                            <md-option ng-repeat="color in backColor" ng-value="color">
                                                {{color.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>


                                <!--<div class="md-block" flex-gt-sm ng-show="item.tuckShow">-->
                                <div class="md-block" flex-gt-sm ng-show="item.side.name=='Back' ? true : false">
                                    <md-input-container>
                                        <label>Tuck:</label>
                                        <md-select ng-model="item.tuck" ng-model-options="{trackBy: '$value.id'}" aria-label="More">
                                            <md-option ng-repeat="tu in tucks" ng-value="tu">
                                                {{tu.name}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </md-list-item>

                            <md-list-item layout="row" class="" layout-sm="column" layout-align="center center" layout-wrap>
                                <div flex="50">
                                    <md-input-container class="md-block">
                                        <label>Comments:</label>
                                        <textarea ng-model="item.comments" rows="1"></textarea>
                                    </md-input-container>
                                </div>

                            </md-list-item>
                            <md-list-item layout="row" class="" layout-sm="column" layout-wrap>
                                <div flex="15">
                                    <p>Reference Attachments: </p>
                                </div>
                                <div flex="85">

                                </div>
                            </md-list-item>

                        </div>
                    </md-list>
                </div>
                <div ng-show="csrConfSecond" class="addSpec">
                    <div layout="column" layout-align="start center" ng-show="specific">
                        <div flex="50">
                            No specifications created. Select "Add Specification" to begin
                        </div>

                        <div flex="50" style="padding: 10px">
                            Add Specification
                            <md-button style="background-color: rgb(30, 144, 255);" class="md-icon-button md-fab  md-mini " ng-click="addSpecificatnio(item)" aria-label="More">
                                <md-icon class="material-icons">
                                    add
                                </md-icon>
                            </md-button>
                        </div>
                    </div>
                </div>
            </md-list>
        </div>
        <div class="a_body " layout="row" layout-align="space-between end">
            <md-button style="background-color: rgb(30, 144, 255);" class="md-raised md-primary" ng-click="csrBack()">
                Back
            </md-button>
            <md-button ng-show="submitButton" ng-click="CsrSubmit()" ng-disabled="submitDisable" style="background-color: rgb(30, 144, 255);" class="md-raised md-primary">
                Submit
            </md-button>
            <md-button ng-show="editButtonShow" ng-click="CsrEdit()" style="background-color: rgb(30, 144, 255);" class="md-raised md-primary">
                Save and Exit
            </md-button>
        </div>
    </md-content>
</div>