<div ng-cloak>
    <md-content>
        <div class="n_req">
            NEXT REQUEST
            <md-button style="background-color: rgb(30, 144, 255);" class="md-icon-button md-fab  md-mini " ng-disabled="false" ng-click="addReuest(item)" aria-label="More">
                <md-icon class="material-icons">
                    add
                </md-icon>
            </md-button>
        </div>
        <div ng-repeat="item in items track by $index">
            <md-list one class="md-accordion ">
                <md-accordion-item>
                    <md-list-item layout="row" class="md-accordion-item-header" id="head">
                        <div flex="20">
                            <p>Req #:{{item.id}}</p>
                        </div>
                        <div flex="20">
                            <p>Mirage</p>
                        </div>
                        <div flex="20">
                            <p>Casino Cards</p>
                        </div>
                        <div flex="15">
                            <md-select ng-model="drp_parrent" class="drp_select">
                                <md-option>Completed</md-option>
                                <md-option ng-value="state.abbrev" ng-disabled="$index === 1">
                                    Active
                                </md-option>
                                <md-option>Pandding</md-option>
                            </md-select>
                        </div>
                        <div flex="10"></div>
                        <div flex="20">
                            <p>CSR:Tony K</p>
                        </div>
                        <div flex="20">
                            <p>Art Date:{{item.art_requested_date | date:'MM/dd/yyyy'}}</p>
                        </div>

                    </md-list-item>
                </md-accordion-item>
            </md-list>
            <md-list one class="md-accordion">
                <div class="header">
                    <md-accordion-item>
                        <md-list-item layout="row" class="md-accordion-item-header" ng-value="{{item.id}}">
                            <div flex="25">
                                <p>Face-Traditional -Gold</p>
                            </div>
                            <div flex="25">
                                <p>Spec ID:1234-1</p>
                            </div>
                            <div flex="25">
                                <p>Casino Cards</p>
                            </div>
                            <div flex="10">
                                <md-select ng-model="drp_child" class="drp_select">
                                    <md-option>None</md-option>
                                    <md-option ng-value="state.abbrev" ng-disabled="$index === 1">
                                        Finished
                                    </md-option>
                                    <md-option>item1</md-option>
                                </md-select>
                            </div>
                            <div flex="15"></div>
                            <div flex="25">
                                <p>Activity:</p>
                            </div>

                        </md-list-item>
                        <div class="a_body ">
                            <md-list-item layout="row" class="md-accordion-item-body">
                                <div flex="25">
                                    <md-input-container class="md-block">
                                        <label>Side:</label>
                                        <input ng-model="user.address">
                                    </md-input-container>
                                </div>
                                <div flex="25">
                                    <md-input-container class="md-block">
                                        <label>Face Style:</label>
                                        <input ng-model="user.address">
                                    </md-input-container>
                                </div>
                                <div flex="25">
                                    <md-input-container class="md-block">
                                        <label>Ace:</label>
                                        <input ng-model="user.address">
                                    </md-input-container>
                                </div>
                                <div flex="25">
                                    <md-input-container class="md-block">
                                        <label>Joker:</label>
                                        <input ng-model="user.address">
                                    </md-input-container>
                                </div>
                                <div flex="25">
                                    <md-input-container class="md-block">
                                        <label>Color:</label>
                                        <input ng-model="user.address">
                                    </md-input-container>
                                </div>

                            </md-list-item>
                            <md-list-item layout="row" class="md-accordion-item-body" layout-sm="column" layout-align="center center" layout-wrap>
                                <div flex="50">
                                    <md-input-container class="md-block">
                                        <label>Comments:</label>
                                        <textarea rows="4"></textarea>
                                    </md-input-container>
                                </div>
                                <div flex="25">
                                    <span id="dow_art"><i class="material-icons">get_app</i>Download Art</span>
                                </div>
                                <div flex="25">
                                    <span id="dow_art"> <i class="material-icons">publish</i>Upload Art</span>
                                </div>


                            </md-list-item>
                            <md-list-item layout="row" class="md-accordion-item-body" layout-sm="column" layout-wrap>
                                <div flex="15">
                                    <p>Reference Attachments: </p>

                                </div>

                                <div flex="85">

                                    <md-chips>
                                        <md-chip> Wynnlogbw.png</md-chip>
                                    </md-chips>
                                </div>
                            </md-list-item>
                        </div>

                    </md-accordion-item>
                </div>
            </md-list>
            <md-list one class="md-accordion">
                <div class="header">
                    <md-accordion-item>
                        <div class="hideHeader">
                            <md-list-item layout="row" class="md-accordion-item-header" layout-sm="column" layout-align="center center" layout-wrap>
                                <p>MESSAGES</p>
                            </md-list-item>
                            <div class="a_body ">
                                <md-list-item layout="row" class="md-accordion-item-body" layout-sm="column" layout-wrap>

                                    <div flex="50">
                                        <md-input-container class="md-block">
                                            <label>New Message:</label>
                                            <textarea ng-model="feedback" rows="4"></textarea>
                                        </md-input-container>
                                    </div>
                                    <div flex="30" layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                                        <md-button class="md-fab md-mini md-primary" aria-label="Use Android">
                                            SA
                                        </md-button>
                                        <md-button class="md-fab md-mini md-primary" aria-label="Use Android">
                                            SM
                                        </md-button>
                                        <md-button class="md-fab md-mini md-primary" aria-label="Use Android">
                                            PS
                                        </md-button>
                                        <md-button class="md-fab md-mini md-primary" aria-label="Use Android">
                                            AD
                                        </md-button>
                                        <md-button class="md-fab md-mini md-primary" aria-label="Use Android">
                                            <md-icon class="material-icons">
                                                add
                                            </md-icon>
                                        </md-button>

                                    </div>
                                    <div flex="20" layout-sm="column" layout-align="center center" layout-wrap>
                                        <md-button class="md-raised md-primary">SEND<i id="submit" class="material-icons">send</i></md-button>
                                        <div>
                                            <md-button class="md-raised md-sm">Subscribe</md-button>
                                        </div>
                                    </div>


                                </md-list-item>
                                <md-list-item layout="row" class="md-accordion-item-body">
                                    <div flex="100">
                                        <md-card>
                                            <md-list>
                                                <md-list-item class="md-2-line">
                                                    <md-button class="md-fab md-mini md-primary ct" aria-label="Use Android">
                                                        CT
                                                    </md-button>
                                                    <div class="md-list-item-text">
                                                        <h3 id="n_msg">Chirs T</h3>
                                                        <h4>First Line</h4>
                                                    </div>
                                                    <div id="loc">12/3/2016 12:08 pm</div>
                                                    <div id="loc"><i class="material-icons right">add_location</i></div>
                                                </md-list-item>
                                            </md-list>
                                        </md-card>

                                    </div>
                                </md-list-item>
                                <md-list-item layout="row" class="md-accordion-item-body">
                                    <div flex="100">
                                        <md-card>
                                            <md-list>
                                                <md-list-item class="md-2-line">
                                                    <md-button class="md-fab md-mini md-primary ct" aria-label="Use Android">
                                                        MF
                                                    </md-button>
                                                    <div class="md-list-item-text">
                                                        <h3 id="n_msg">Mike F</h3>
                                                        <h4>First Line</h4>
                                                    </div>
                                                    <div id="loc">12/3/2016 12:08 pm</div>
                                                    <div id="loc"><i class="material-icons right">add_location</i></div>
                                                </md-list-item>
                                            </md-list>
                                        </md-card>
                                    </div>
                                </md-list-item>
                            </div>
                        </div>
                    </md-accordion-item>
                </div>
            </md-list>
        </div>
    </md-content>
</div>