<div ng-cloak>
    <md-content>
        <md-list one class="md-accordion">
            <md-accordion-item>
                <md-list-item layout="row" class="md-accordion-item-header" id="head">
                    <div flex="25">
                        <p>Req #:1234</p>
                    </div>
                    <div flex="25">
                        <p>Wynn</p>
                    </div>
                    <div flex="20">
                        <p>Casino Cards</p>
                    </div>
                    <div flex="10">
                        <md-select ng-model="" class="drp_select">
                            <md-option>None</md-option>
                            <md-option ng-value="state.abbrev" ng-disabled="$index === 1">
                                Held
                            </md-option>
                            <md-option>item1</md-option>
                        </md-select>
                    </div>
                    <div flex="10"></div>
                    <div flex="20">
                        <p> CSR:Tammy P</p>
                    </div>
                    <div flex="20">
                        <p>Art Date:1/29/17</p>
                    </div>

                </md-list-item>
            </md-accordion-item>
        </md-list>
        <md-list one class="md-accordion">
            <div class="header">
                <md-accordion-item>
                    <md-list-item layout="row" class="md-accordion-item-header">
                        <div flex="25">
                            <p>Face-Traditional -Green</p>
                        </div>
                        <div flex="25">
                            <p>Spec ID:1234-1</p>
                        </div>

                        <div flex="10">
                            <md-select ng-model="" class="drp_select">
                                <md-option>None</md-option>
                                <md-option ng-value="state.abbrev" ng-disabled="$index === 1">
                                    Finished
                                </md-option>
                                <md-option>item1</md-option>
                            </md-select>
                        </div>
                        <div flex="15"></div>
                        <div flex="25">
                            <p> Activity:</p>
                        </div>
                    </md-list-item>
                </md-accordion-item>
            </div>
        </md-list>
        <md-list one class="md-accordion">
            <div class="header">
                <md-accordion-item>
                    <md-list-item layout="row" class="md-accordion-item-header">
                        <div flex="25">
                            <p>Back - Fancy-Black</p>
                        </div>
                        <div flex="25">
                            <p>Spec ID:1234-2</p>
                        </div>

                        <div flex="10">
                            <md-select ng-model="" class="drp_select">
                                <md-option>None</md-option>
                                <md-option ng-value="state.abbrev" ng-disabled="$index === 1">
                                    Held
                                </md-option>
                                <md-option>item1</md-option>
                            </md-select>
                        </div>
                        <div flex="15"></div>
                        <div flex="25">
                            <p> Activity:</p>
                        </div>
                    </md-list-item>

                </md-accordion-item>
            </div>
        </md-list>
        <md-list one class="md-accordion">
            <div class="header">
                <md-accordion-item>
                    <md-list-item layout="row" class="md-accordion-item-header ">
                        <div flex="25">
                            <p>Face-Traditional -Gold</p>
                        </div>
                        <div flex="25">
                            <p>Spec ID:1234-1</p>
                        </div>

                        <div flex="10">
                            <md-select ng-model="" class="drp_select">
                                <md-option>None</md-option>
                                <md-option ng-value="state.abbrev" ng-disabled="$index === 1">
                                    Held
                                </md-option>
                                <md-option>item1</md-option>
                            </md-select>
                        </div>
                        <div flex="15"></div>
                        <div flex="25">
                            <p>Activity:</p>
                        </div>

                    </md-list-item>
                    <div class="a_body ">
                        <md-list-item layout="row" class="md-accordion-item-body">
                            <div flex="25">
                                <md-input-container class="md-block">
                                    <label>Side:</label>
                                    <input ng-model="user.address">
                                </md-input-container>
                            </div>
                            <div flex="25">
                                <md-input-container class="md-block">
                                    <label>Background:</label>
                                    <input ng-model="user.address">
                                </md-input-container>
                            </div>
                            <div flex="25">
                                <md-input-container class="md-block">
                                    <label>Edge:</label>
                                    <input ng-model="user.address">
                                </md-input-container>
                            </div>
                            <div flex="25">
                                <md-input-container class="md-block">
                                    <label>Tuck:</label>
                                    <input ng-model="user.address">
                                </md-input-container>
                            </div>
                            <div flex="25">
                                <md-input-container class="md-block">
                                    <label>Color:</label>
                                    <input ng-model="user.address">
                                </md-input-container>
                            </div>

                        </md-list-item>
                        <md-list-item layout="row" class="md-accordion-item-body" layout-sm="column" layout-align="center center" layout-wrap>
                            <div flex="50">
                                <md-input-container class="md-block">
                                    <label>Comments:</label>
                                    <textarea ng-model="feedback" rows="4"></textarea>
                                </md-input-container>
                            </div>
                        </md-list-item>
                        <md-list-item layout="row" class="md-accordion-item-body" layout-sm="column" layout-wrap>
                            <div flex="15">
                                <p>Reference Attachments: </p>
                            </div>
                            <div flex="85">
                                <md-chips>
                                    <md-chip> Wynnlogbw.png</md-chip>
                                </md-chips>
                            </div>
                        </md-list-item>

                    </div>
                </md-accordion-item>
            </div>
        </md-list>
        <md-list one class="md-accordion">
            <div class="header">
                <md-accordion-item>
                    <md-list-item layout="row" class="md-accordion-item-header">
                        <p>MESSAGES</p>
                        <md-chips class="mss">
                            <md-chip> 1</md-chip>
                        </md-chips>
                    </md-list-item>
                </md-accordion-item>
            </div>
        </md-list>
        <md-list one class="md-accordion">
            <md-accordion-item>
                <md-list-item layout="row" class="md-accordion-item-header" id="head">
                    <div flex="25">
                        <p>Req #:1236</p>
                    </div>
                    <div flex="25">
                        <p>Harrahs</p>
                    </div>
                    <div flex="20">
                        <p>Casino Cards</p>
                    </div>
                    <div flex="10">
                        <md-select ng-model="" class="drp_select">
                            <md-option>None</md-option>
                            <md-option ng-value="state.abbrev" ng-disabled="$index === 1">
                                Held
                            </md-option>
                            <md-option>item1</md-option>
                        </md-select>
                    </div>
                    <div flex="10"></div>
                    <div flex="20">
                        <p> CSR:Eric K</p>
                    </div>
                    <div flex="20">
                        <p>Art Date:2/30/17</p>
                    </div>

                </md-list-item>

            </md-accordion-item>
        </md-list>
        <md-list one class="md-accordion">
            <md-accordion-item>
                <md-list-item layout="row" class="md-accordion-item-header" id="head">
                    <div flex="25">
                        <p>Req #:1237</p>
                    </div>
                    <div flex="25">
                        <p>Aria</p>
                    </div>
                    <div flex="20">
                        <p>Casino Cards</p>
                    </div>
                    <div flex="10">
                        <md-select ng-model="drp_parent_held" class="drp_select">
                            <md-option>None</md-option>
                            <md-option ng-value="state.abbrev" ng-disabled="$index === 1">
                                Held
                            </md-option>
                            <md-option>item1</md-option>
                        </md-select>
                    </div>
                    <div flex="10"></div>
                    <div flex="20">
                        <p> CSR:Lisa M</p>
                    </div>
                    <div flex="20">
                        <p>Art Date:2/3/17</p>
                    </div>

                </md-list-item>

            </md-accordion-item>
        </md-list>
        <md-list one class="md-accordion">
            <md-accordion-item>
                <md-list-item layout="row" class="md-accordion-item-header" id="head">
                    <div flex="25">
                        <p>Req #:1238</p>
                    </div>
                    <div flex="25">
                        <p>Bellagio</p>
                    </div>
                    <div flex="20">
                        <p>Casino Cards</p>
                    </div>
                    <div flex="10">
                        <md-select ng-model="drp_child_held" class="drp_select">
                            <md-option>None</md-option>
                            <md-option ng-value="state.abbrev" ng-disabled="$index === 1">
                                Held
                            </md-option>
                            <md-option>item1</md-option>
                        </md-select>
                    </div>
                    <div flex="10"></div>
                    <div flex="20">
                        <p> CSR:Stephen F</p>
                    </div>
                    <div flex="20">
                        <p>Art Date:2/3/17</p>
                    </div>

                </md-list-item>

            </md-accordion-item>
        </md-list>
    </md-content>
</div>