<div ng-cloak>
    <md-content>
        <md-list one class="md-accordion">
            <md-accordion-item>
                <md-list-item layout="row" class="md-accordion-item-header" id="head">
                    <div flex="20">
                        <p>Req #:1235</p>
                    </div>
                    <div flex="20">
                        <p>Luxor</p>
                    </div>
                    <div flex="20">
                        <p>Casino Cards</p>
                    </div>
                    <div flex="15">
                        <md-select ng-model="drp_parent_prep" class="drp_select">
                            <md-option>None</md-option>
                            <md-option ng-value="state.abbrev" ng-disabled="$index === 1">
                                Finished
                            </md-option>
                            <md-option>item1</md-option>
                        </md-select>
                    </div>
                    <div flex="10"></div>
                    <div flex="20">
                        <p> CSR:Tim P</p>
                    </div>
                    <div flex="20">
                        <p>Art Date:1/04/17</p>
                    </div>

                </md-list-item>

            </md-accordion-item>
        </md-list>
        <md-list one class="md-accordion">
            <div class="header">
                <md-accordion-item>
                    <md-list-item layout="row" class="md-accordion-item-header ">
                        <div flex="25">
                            <p>Face-Traditional -Gold</p>
                        </div>
                        <div flex="25">
                            <p>Spec ID:1234-1</p>
                        </div>

                        <div flex="10">
                            <md-select ng-model="drp_child_prep" class="drp_select">
                                <md-option>None</md-option>
                                <md-option ng-value="state.abbrev" ng-disabled="$index === 1">
                                    Finished
                                </md-option>
                                <md-option>item1</md-option>
                            </md-select>
                        </div>
                        <div flex="15"></div>
                        <div flex="25">
                            <p> Approved</p>
                        </div>
                    </md-list-item>
                </md-accordion-item>
            </div>
        </md-list>
        <md-list one class="md-accordion">
            <div class="header">
                <md-accordion-item>
                    <md-list-item layout="row" class="md-accordion-item-header">
                        <div flex="25">
                            <p>Back - Fancy</p>
                        </div>
                        <div flex="25">
                            <p>Spec ID:1234-2</p>
                        </div>

                        <div flex="10">
                            <md-select ng-model="" class="drp_select">
                                <md-option>None</md-option>
                                <md-option ng-value="state.abbrev" ng-disabled="$index === 1">
                                    Pending
                                </md-option>
                                <md-option>item1</md-option>
                            </md-select>
                        </div>
                        <div flex="15"></div>
                        <div flex="25">
                            <p> Abandoned</p>
                        </div>
                    </md-list-item>

                </md-accordion-item>
            </div>
        </md-list>
        <md-list one class="md-accordion">
            <div class="header">
                <md-accordion-item>
                    <md-list-item layout="row" class="md-accordion-item-header">
                        <div flex="25">
                            <p>Face-Traditional -179C</p>
                        </div>
                        <div flex="25">
                            <p>Spec ID:1234-3</p>
                        </div>

                        <div flex="10">
                            <md-select ng-model="" class="drp_select">
                                <md-option>None</md-option>
                                <md-option ng-value="state.abbrev" ng-disabled="$index === 1">
                                    Finished
                                </md-option>
                                <md-option>item1</md-option>
                            </md-select>
                        </div>
                        <div flex="15"></div>
                        <div flex="25">
                            <p>Approved</p>
                        </div>
                    </md-list-item>

                </md-accordion-item>
            </div>
        </md-list>

        <div class="a_body">
            <md-list-item layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <div flex="50">
                    <md-button class="md-raised  sub" id="sub">SUBMIT</md-button>
                </div>

                <div flex="50">
                    <md-button class="md-raised  appr" id="sub">APPROVE</md-button>
                </div>
            </md-list-item>
            <md-list-item layout="row">
                <div flex="50">
                    <span id="g_app"><i class="material-icons ">file_download</i>Download Art</span>
                </div>

                <div flex="50">
                    <span id="pub"> <i class="material-icons">file_upload</i>Upload Art</span>
                </div>
            </md-list-item>
        </div>
    </md-content>
</div>