.inputdemoIcons {}

.inputdemoIcons .inputIconDemo {
    min-height: 48px;
}


/*
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
*/


/* Login */

.login {
    padding: 10px 28px;
}

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
    color: white;
}

.navBardemoBasicUsage md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #FFF2E0;
}

.md-toolbar-tools {
    background-color: dodgerblue;
    height: auto;
}

.md-button.md-accent {
    color: floralwhite;
}

md-nav-bar md-nav-ink-bar {
    color: floralwhite;
    background: floralwhite;
}

md-toolbar.md-hue-2:not(.md-menu-toolbar) {
    background-color: rgba(255, 255, 255, 0.87);
    color: rgba(255, 255, 255, 0.87);
}

.icon_r md-icon {
    margin-left: 15px;
}

.req md-card-header {
    background-color: #82b1ff;
    font-style: bold;
}

.face md-card-header {
    background-color: #c8e6c9;
    border: 1px solid;
    border-color: #66bb6a;
}

.Comments md-grid-tile figure {
    display: block;
}

#dow_art {
    display: block;
    margin: 40px;
    float: none;
    text-align: left;
}

#dow_art i {
    padding-right: 6px;
    float: left;
    color: dodgerblue
}

.face_tradi {
    padding: 40px;
}

input .textarea {
    border: 1px solid;
}

md-chips .md-chips {
    box-shadow: 0 0px rgba(0, 0, 0, 0.12);
}

#n_msg {
    font-weight: bold;
}

md-toolbar *,
md-toolbar :after,
md-toolbar :before {
    box-sizing: border-box;
    font-weight: bold;
}

#submit {
    display: block;
    margin: auto;
    float: right;
    padding-top: 7px;
    font-size: 20px;
}

.layout-row {
    padding: 0 20px;
}

.work-q {
    background-color: #ede7f6;
    color: black;
}

.job {
    margin-left: 10px;
}

.drp_select {
    margin: 8px 100px 5px 0px;
}

.header {
    padding: 0px;
}

h3.accordion {
    margin: 0;
}

.accordion a {
    padding: 10px;
    background: #ddd;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-bottom: 1px;
}

.accordion-content {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 1px 0;
}

.item-closed {
    max-height: 0;
    min-height: 0;
    transition: all 0.45s ease-out;
    overflow: hidden;
}

.item-open {
    max-height: 500px;
    min-height: 0px;
    overflow: hidden;
    transition: all 0.65s ease-in;
}

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
    color: white;
}

.navBardemoBasicUsage md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #FFF2E0;
}

.md-toolbar-tools {
    background-color: dodgerblue;
    height: auto;
}

.md-button.md-accent {
    color: floralwhite;
}

md-nav-bar md-nav-ink-bar {
    color: floralwhite;
    background: floralwhite;
}

md-toolbar.md-hue-2:not(.md-menu-toolbar) {
    background-color: rgb(250, 250, 250);
    color: rgba(255, 255, 255, 0.87);
}

.icon_r md-icon {
    margin-left: 15px;
}

.req md-card-header {
    background-color: #82b1ff;
    font-weight: bold;
}

#head {
    background-color: #82b1ff;
    font-weight: bold;
}

.face md-card-header {
    background-color: #B7C8DA;
    border: 1px solid;
    border-color: #708293;
}

.Comments md-grid-tile figure {
    display: block;
}

#dow_art {
    display: block;
    margin: 40px;
    float: none;
}

#dow_art i {
    padding-right: 6px;
    float: left;
    color: dodgerblue
}

.face_tradi {
    padding: 40px;
}

input .textarea {
    border: 1px solid;
}

md-chips .md-chips {
    box-shadow: 0 0px rgba(0, 0, 0, 0.12);
}

#n_msg {
    font-weight: bold;
}

md-toolbar *,
md-toolbar :after,
md-toolbar :before {
    box-sizing: border-box;
    font-weight: bold;
    font-size: medium;
}

#submit {
    display: block;
    margin: auto;
    float: right;
    padding-top: 10px;
    font-size: 15px;
}

#loc {
    padding-right: 10px;
    padding-top: 10px;
}

.work-q {
    background-color: #ede7f6;
    color: black;
}

.job {
    border: 1px solid;
    border-right: 1px;
}

.n_req {
    text-align: right;
    margin-right: 10px;
}

.md-accordion-item-header {
    background-color: #B7C8DA;
    border: 1px solid;
    border-color: #708293;
    height: 50px;
    cursor: pointer;
}

.a_body {
    padding: 0px 40px 0px 40px;
}

md-list {
    display: block;
    padding: 0px;
}

.mss {
    margin-right: 74pc;
}

.sub {
    display: block;
    float: right;
    margin: 20px;
}

#sub {
    background-color: #9bd1fa;
}

.appr {
    background-color: #9bd1fa;
    display: block;
    float: left;
    margin: 20px;
}

#g_app {
    display: block;
    margin: 40px;
    float: right;
}

#pub {
    display: block;
    margin: 40px;
    float: left;
}

#g_app i {
    padding-right: 6px;
    float: left;
    color: dodgerblue
}

#pub i {
    padding-right: 6px;
    float: left;
    color: dodgerblue
}

md-sidenav {
    max-width: 280px;
}

md-toolbar:not(.md-menu-toolbar) {
    background-color: rgba(255, 255, 255, 0.87);
    color: rgba(255, 255, 255, 0.87);
}

md-toolbar .md-toolbar-tools {
    height: 45px;
}

.md-button.md-fab.md-mini {
    margin-bottom: 10px;
}

md-card {
    box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

#head md-input-container {
    margin: 7px 0;
}

.accordianHeader {
    margin: 0px 0px 10px 0px;
}

.marginBtm {
    margin-bottom: 20px;
}

a {
    cursor: pointer;
}

.paddingBtm {
    padding-bottom: 54px;
}

.drp {
    margin: 17px 0px 0px 0px;
}

.inputdemoErrors .inputErrorsApp {
    min-height: 48px;
}

.inputdemoErrors md-input-container>p {
    font-size: 0.8em;
    text-align: left;
    width: 100%;
}

.addSpec {
    padding: 25px;
}

.datepickerdemoBasicUsage {
    /** Demo styles for mdCalendar. */
}

.datepickerdemoBasicUsage md-content {
    padding-bottom: 200px;
}

.datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin-left: 15px;
}

.hoverPoinert {
    cursor: pointer;
}

.progress-container {
    width: 992px;
    margin: 30px auto;
}

.progressbar {
    counter-reset: step;
    width: 100%;
}

.progressbar li {
    list-style-type: none;
    width: 20%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #b9b9b9;
}

.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: unset;
    counter-reset: none;
    line-height: 30px;
    border: 2px solid #b9b9b9;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #b9b9b9;
}

.progressbar li:after {
    width: 82%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #a5a5a5;
    top: 15px;
    left: -41%;
    z-index: 1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: #1e90ff;
}

.progressbar li.active:before {
    border-color: #1e90ff;
    background-color: #1e90ff;
}

.progressbar li.active:after {
    background-color: #1e90ff;
}

.removeMarg {
    margin: 0px;
    height: 62px;
    padding: 12px 0px 0px 16px;
}

.disabled {
    cursor: not-allowed;
}

.tt ul {
    top: 20px !important;
    left: 2px;
    position: absolute;
    background: rgb(255, 255, 255);
    width: 100%;
    opacity: 1;
    z-index: 2;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12);
}

.tt ul li {
    list-style-type: none;
    padding: 16px 16px;
    transition: background .15s linear;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: list-item;
}

.tt ul li a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.tt ul li:hover {
    background: rgb(238, 238, 238);
}

input#fl-input-12 {
    color: black;
}

input#fl-input-298 {
    color: #9b9b9b;
}

md-input-container.md-block.set-margin.flex-25 {
    margin: 0px;
}

.md-accordion .expandCollapse:active {
    border: 0px;
}

.md-accordion .dataContent {
    background: #fafafa;
    height: 0px;
    overflow: hidden;
    -webkit-transition: .3s all ease-out;
    transition: .3s all ease-out;
}

.md-accordion .activeContent {
    height: auto;
    display: block;
}

.md-accordion md-list-item {
    cursor: pointer;
}


/* Loader */


/*   loader */

.loading {
    pointer-events: all;
    z-index: 8000;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    cursor: wait;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
}


/*
.spinner div {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -20px;
    top: 40px;
    background-color: dodgerblue;
    border-radius: 50%;
    animation: move 5s infinite cubic-bezier(.2, .64, .81, .23);
}

.spinner div:nth-child(2) {
    animation-delay: 150ms;
}

.spinner div:nth-child(3) {
    animation-delay: 300ms;
}

.spinner div:nth-child(4) {
    animation-delay: 450ms;
}

@keyframes move {
    0% {
        left: 0%;
    }
    75% {
        left: 100%;
    }
    100% {
        left: 100%;
    }
}

*/

.cssload-container {
    display: block;
    margin: 49px auto;
    width: 97px;
}

.cssload-loading i {
    width: 19px;
    height: 19px;
    display: inline-block;
    border-radius: 50%;
    background: dodgerblue;
}

.cssload-loading i:first-child {
    opacity: 0;
    animation: cssload-loading-ani2 0.58s linear infinite;
    -o-animation: cssload-loading-ani2 0.58s linear infinite;
    -ms-animation: cssload-loading-ani2 0.58s linear infinite;
    -webkit-animation: cssload-loading-ani2 0.58s linear infinite;
    -moz-animation: cssload-loading-ani2 0.58s linear infinite;
    transform: translate(-19px);
    -o-transform: translate(-19px);
    -ms-transform: translate(-19px);
    -webkit-transform: translate(-19px);
    -moz-transform: translate(-19px);
}

.cssload-loading i:nth-child(2),
.cssload-loading i:nth-child(3) {
    animation: cssload-loading-ani3 0.58s linear infinite;
    -o-animation: cssload-loading-ani3 0.58s linear infinite;
    -ms-animation: cssload-loading-ani3 0.58s linear infinite;
    -webkit-animation: cssload-loading-ani3 0.58s linear infinite;
    -moz-animation: cssload-loading-ani3 0.58s linear infinite;
}

.cssload-loading i:last-child {
    animation: cssload-loading-ani1 0.58s linear infinite;
    -o-animation: cssload-loading-ani1 0.58s linear infinite;
    -ms-animation: cssload-loading-ani1 0.58s linear infinite;
    -webkit-animation: cssload-loading-ani1 0.58s linear infinite;
    -moz-animation: cssload-loading-ani1 0.58s linear infinite;
}

@keyframes cssload-loading-ani1 {
    100% {
        transform: translate(39px);
        opacity: 0;
    }
}

@-o-keyframes cssload-loading-ani1 {
    100% {
        -o-transform: translate(39px);
        opacity: 0;
    }
}

@-ms-keyframes cssload-loading-ani1 {
    100% {
        -ms-transform: translate(39px);
        opacity: 0;
    }
}

@-webkit-keyframes cssload-loading-ani1 {
    100% {
        -webkit-transform: translate(39px);
        opacity: 0;
    }
}

@-moz-keyframes cssload-loading-ani1 {
    100% {
        -moz-transform: translate(39px);
        opacity: 0;
    }
}

@keyframes cssload-loading-ani2 {
    100% {
        transform: translate(19px);
        opacity: 1;
    }
}

@-o-keyframes cssload-loading-ani2 {
    100% {
        -o-transform: translate(19px);
        opacity: 1;
    }
}

@-ms-keyframes cssload-loading-ani2 {
    100% {
        -ms-transform: translate(19px);
        opacity: 1;
    }
}

@-webkit-keyframes cssload-loading-ani2 {
    100% {
        -webkit-transform: translate(19px);
        opacity: 1;
    }
}

@-moz-keyframes cssload-loading-ani2 {
    100% {
        -moz-transform: translate(19px);
        opacity: 1;
    }
}

@keyframes cssload-loading-ani3 {
    100% {
        transform: translate(19px);
    }
}

@-o-keyframes cssload-loading-ani3 {
    100% {
        -o-transform: translate(19px);
    }
}

@-ms-keyframes cssload-loading-ani3 {
    100% {
        -ms-transform: translate(19px);
    }
}

@-webkit-keyframes cssload-loading-ani3 {
    100% {
        -webkit-transform: translate(19px);
    }
}

@-moz-keyframes cssload-loading-ani3 {
    100% {
        -moz-transform: translate(19px);
    }
}


/* Loader End */