 
 <!DOCTYPE html>
<html ng-app="myapps">
   
   <head>
      <title>Angular JS Controller</title>
      <script src="js/angular.js"></script>
    <script src="js/index.js"></script>
   </head>
   
   <body ng-controller="filesystem">
     <div>


<div>
                id:<input type="text" ng-model="id">
            </div> <br>
           
            <div>
                email:<input type="email" ng-model="email">
            </div> <br>
          
            <div> 
                password:<input type="password" ng-model="password">
            </div> <br>
             <div> 
                name:<input type="text"   ng-model="name" >
            </div> <br>
             <div>
                city:<input type="text" ng-model="city">
            </div> <br>
             <div>
                phone:<input type="number" ng-model="phone">
            </div> <br>
            <div>
                gender:<input type="text" ng-model="gender">
            </div> <br>
           

            <div>
                <button type="button" ng-click="update()">update</button>
            </div> <br>
            <div>
                <button type="button" ng-click="save()">submit</button>
            </div>
      
   </body>
</html>